<IfModule mod_rewrite.c>
  RewriteEngine On

  # Matikan MultiViews hanya jika diizinkan
  <IfModule mod_negotiation.c>
    Options -MultiViews
  </IfModule>

  RewriteCond %{THE_REQUEST} \s/([^.]+)\.php [NC]
  RewriteRule ^ /%1 [R=301,L]

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}.php -f
  RewriteRule ^(.+)$ $1.php [L,QSA]
</IfModule>

# Default halaman
DirectoryIndex login.php
